
/* configuraciones generales*/

@import './media-Query/mediaquerie.scss';
@import './super-navbar/nav.scss';
@import './footer/footer.scss';
@import './colores/colores.scss';

/* páginas*/

@import './Páginas/Inicio.scss';
@import './Páginas/primaria.scss';
@import './Páginas/secundaria.scss';
@import './Páginas/nosotros.scss';
@import './Páginas/contacto.scss';
@import './media-Query/mediaquerie.scss';

/*  configuraciones generales  */

* {
    padding: 0;
    margin: 0;
}
.h-generales {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    color: map-get($color, tercero);
    font-weight: 650;
    text-align: center;
}
h3 {
    @extend .h-generales;
    text-shadow: 4px 4px 7px rgba(58, 58, 58, 0);
    margin: 4rem;
    &:h3 {
        font-size: calc(1.3rem + 0.9vw);
    }
}
h4 {
    @extend .h-generales;
    text-shadow: 2px 2px 7px rgba(58, 58, 58, 0);
    font-size: 2rem;
    margin: 4rem;
}
h6 {
    @extend .h-generales;
    text-shadow: 2px 2px 7px rgba(58, 58, 58, 0);
    font-size: 2rem;
    margin: 2rem;
}