.primera-seccion-contacto {
    background: linear-gradient(rgba(252, 222, 190, 0.527), rgba(51, 30, 30, 0.446)), url('../Imágenes/contacto.jpg') no-repeat center/cover;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primer-contenido-contacto>h1 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 7px 7px 7px black;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: #ffffff;
    display: flex;
    justify-content: center;

}

/* fin de primera seccion */

/*Tercera sección*/

.tercera-seccion-contacto {
    background: linear-gradient(rgba(252, 222, 190, 0.527), rgba(51, 30, 30, 0.446)), url('../Imágenes/nosotros.jpg') no-repeat center/cover;
    color: #ffffff;
    text-shadow: 1px 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#seccion-izq-con {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccion-der-con {
    width: 50%;
}

.mapita {
    padding: 5rem;
}

h6 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 7px rgba(58, 58, 58, 0);
    font-size: 2rem;
    font-weight: 650;
    color: rgb(22, 101, 170);
    text-align: center;
    margin: 2rem;
}

.contacto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.covid {
    width: 80%;
}

.form-piola {
    color: rgba(71, 98, 207, 1);
    font-family: 'Helvetica', sans-serif;
    text-shadow: none;
}

.form-control {
    font-size: 1.5rem;
}

.mb-4 {
    width: 70%;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*fin de Tercera sección*/