

/* - estilos mobile 320px a 425px- */

/* - index - */


@media screen and (min-width:320px) and (max-width:425px) {

    #primer-contenido-inicio>h1 {
        font-size: x-large;
    }

    #primer-contenido-inicio p {
        font-size: medium;
    }

    .card1 {
        width: 77%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(22, 21, 105, 0.233);

        .card-body a {
        width: 44%;
        }
    }

    .tercera-seccion-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #seccion-der-historia {
            display: none;
        }

    #seccion-izq-historia {
            width: 85%;
            margin: auto;
            p {
                font-size: 14px;
                line-height: 27px;
                padding: 10%; 
            }
        }
    }

    .carousel-inner {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 0;

        .d-block {
            width: 100vw;
        }
    }

    .quinta-seccion-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #seccion-izq-contacto {
            width: 90%;
            padding: 0rem;
            .enviar {
                width: 37%;
                margin: 0;
                padding: 0.3rem;
                font-size: small;
                margin-top: 12px;
                margin-left: 50%;
            }
        }

    #seccion-der-contacto {
            display: none;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        font-size: 67%;

        #seccion-der {
            display: none;
        }
        #seccion-cen {
            padding-bottom: 1.5rem;
        }
        .logo2 {
            display: none;
        }
    }
}

/* - fin de index - */

/* - nosotros - */

@media screen and (min-width:320px) and (max-width:425px) {

    #primer-contenido-nosotros>h1 {
        font-size: x-large;
    }

    #primer-contenido-nosotros>p {
        font-size: medium;
    }

    .segunda-seccion-nos {
        display: flex;
        flex-direction: column;

       #seccion-izq-nos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .mision {
                margin-right: 0;
                width: 85%;
                padding: 10%;
            }
        } 

        #seccion-der-nos {
            width: 85%;
            margin-top: 2rem;
            padding: 10%;
        }

    }

    .tercer-contenido-nos p {
        width: 70%;
    }

    .cuarta-seccion-nos {
        display: flex;
        flex-direction: column;
        width: 88%;
        margin: 6%;
    }
}

/* - fin de nosotros - */

/* - primaria - */

@media screen and (min-width:320px) and (max-width:425px) {

    #primer-contenido-primaria>h1 {
        font-size: x-large;
    }

    #primer-contenido-primaria>p {
        font-size: medium;
    }

    .segunda-seccion-primaria {
        display: flex;
        flex-direction: column;
        align-items: center;

        #seccion-izq-pri {
            width: 90%;
            .tm>p {
                padding: 0 10%;
                font-size: medium;
            }
        }

        #seccion-der-pri {
            width: 90%;
            .tt>p {
                padding: 0 10%;
                font-size: medium;
            }
        }
    }

    .tercera-seccion-primaria {
        display: flex;
        flex-direction: column;
    }
}

/* - fin de primaria - */

/* - secundaria - */

@media screen and (min-width:320px) and (max-width:425px) {

    #primer-contenido-secundaria>h1 {
        font-size: x-large;
    }

    .card1 {
        margin: 5%;
    }

    .segundo-contenido-sec p {
        padding: 8%;
    }

    .tercera-seccion-sec {

        .actividades-sec {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                width: 100%;
            }
            .act-sec {
                width: 75vw;
                padding: 0;
            }
        }
        #seccion-der-sec {
            display: none;
        }
    }
    
    .cuarta-seccion-sec {
        .arriba {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .uba {
                width: 70%;
                padding-left: 15%;
            }
            .untref {
                width: 70%;
                padding-left: 15%;
            }
        }

        .abajo {
            display: flex;
            flex-direction: column;
            align-items: center;

            .unpaz {
                width: 70%;
                padding-left: 15%;
            }

            .unsam {
                width: 70%;
                padding-left: 15%;
            }

            .utn {
                width: 70%;
                padding-left: 15%;
            }
        }
    }
    
}

/* - fin de secundaria - */

/* - contacto - */

@media screen and (max-width:1200px) {

    #primer-contenido-contacto>h1 {
        font-size: x-large;
    }

    .tercera-seccion-contacto {
        display: flex;
        justify-content: center;

        #seccion-izq-con {
            display: none;
        }

        #seccion-der-con {
            width: 90%;
        }
    }
}

/* - fin de contacto - */

/* - fin de estilos mobile 320px a 425px- */

/* - responsive de 425px a 768px - */

@mixin tablet {
    @media screen and (min-width:425px) and (max-width:767px){
        @content
    }
}

/* index */

h3 {
    @include tablet{
        font-size: x-large;
    }
}

.card1 {
    @include tablet {
        width: 77%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(22, 21, 105, 0.233);
    }
}

.tercera-seccion-inicio {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .tercer-contenido-inicio {
        @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;}
    }
    #seccion-der-historia {
        @include tablet {
            display: none;
        }
    }
    #seccion-izq-historia {
        @include tablet {
            width: 85%;
            margin: auto;
        }
        p {
            @include tablet{
                font-size: 14px;
            line-height: 27px;
            padding: 10%;
            }
        }
    }
}

.quinta-seccion-inicio {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    #seccion-der-contacto {
        @include tablet {
            display: none;
        }
    }
    #seccion-izq-contacto{ 
        @include tablet {
            width: 100%;
            padding: 2rem;
        }
        p {
            @include tablet{
            padding: 5%;
            }
        }
    }
}    

footer {
    @include tablet{
        display: flex;
        flex-direction: column;
        font-size: 90%;
    }
    #seccion-der {
        @include tablet{
            display: none;
        }
    }
    #seccion-cen {
        @include tablet{
            padding-bottom: 1.5rem;
        }
    }
    .logo2 {
        @include tablet{
            display: none;
        }
    }
}

/* Nosotros */

#primer-contenido-nosotros>h1 {
    @include tablet {
        font-size: xx-large;
    }
}

#primer-contenido-nosotros>p {
    @include tablet {
        font-size: large;
    }
}

.segunda-seccion-nos {
    @include tablet{
        display: flex;
        flex-direction: column;
    }
    .mision {
        @include tablet {
            width: 70vw;
        }
    }
    #seccion-der-nos {
        @include tablet {
            width: 70vw;
            margin-top: 2rem;
        } 
    }
}

.tercera-seccion-nos p {
    @include tablet {
        width: 100%;
    }
}

.cuarta-seccion-nos {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

/* primaria */

#primer-contenido-primaria>h1 {
    @include tablet {
        font-size: xx-large;
    }
}

#primer-contenido-primaria>p {
    @include tablet {
        font-size: large;
    }
}

.segunda-seccion-primaria {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #seccion-izq-pri, #seccion-der-pri{
        @include tablet {
            width: 86%;
        }
        
    }
}

/* secundaria*/

#primer-contenido-secundaria>h1 {
    @include tablet {
        font-size: xx-large;
    }
}

#seccion-der-sec {
    @include tablet {
        display: none;
    }
}

.actividades-sec {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        @include tablet {
            width: 100%;
        }
    }
    .act-sec {
        @include tablet {
            padding-left: 0;
        width: 64vw;
        }
    }
}

.arriba {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .uba {
        @include tablet {
            width: 70%;
        padding-left: 15%;
        }
    }
    .untref {
        @include tablet {
            width: 70%;
        padding-left: 15%;
        }
    }
}

.abajo {
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .unpaz {
        @include tablet {
            width: 70%;
        padding-left: 15%;
        }
    }

    .unsam {
        @include tablet {
            width: 70%;
        padding-left: 15%;
        }
    }

    .utn {
        @include tablet {
            width: 70%;
        padding-left: 15%;
        }
    }
}

/* - responsive de 425px a 768px - */

/* responsive de  768px - 1440px */



@media screen and (min-width:768px) and (max-width:1440px) {

    #seccion-der-contacto {
        display: none;
    }

    .card1 {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(22, 21, 105, 0.233);

    }

    .card-body-inicio {
        width: 85%;
        p {
            width: 100%;
        }
    }

    .tercera-seccion-inicio {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #seccion-der-historia {
        display: none;
    }

    #seccion-izq-historia {
        margin: 37px;
    }

    .quinta-seccion-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .segunda-seccion-nos {
        display: flex;
        flex-direction: column;
    }

    .mision {
        width: 70vw;
    }

    #seccion-der-nos {
        width: 70vw;
        margin-top: 2rem;
    }

    #seccion-izq-contacto {
        width: 90%;
    }

    #seccion-der-contacto {
        display: none;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nombre {
        padding: 0;
    }

    .email {
        padding: 0;
    }

    .mens {
        padding: 0;
    }

    textarea#texto {
        margin: 0;
        min-width: 22rem;
        max-width: 22rem;
    }

    .fieldset {
        width: 180px;
    }

    .enviar {
        width: 17%;
        margin: 0;
        padding: 0.3rem;
        font-size: small;
        margin-top: 12px;
        margin-left: 252px;
    }

    footer {
        display: flex;
        flex-direction: column;
        font-size: 130%;
    }

    #seccion-der {
        display: none;
    }

    .logo2 {
        display: none;
    }

    #seccion-cen {
        padding-bottom: 1.5rem;
    }

    .cuarta-seccion-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .segunda-seccion-primaria {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #seccion-izq-pri {
        width: 90%;
    }

    #seccion-der-pri {
        width: 90%;
    }

    .segunda-seccion-sec {
        display: flex;
        flex-direction: column;
    }

    #seccion-der-sec {
        display: none;
    }

    .actividades-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .actividades-sec p {
        width: 100%;
    }

    .act-sec {
        width: 75vw;
        padding: 0;

    }

    .arriba {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .abajo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unsam {
        padding-left: 2rem;
    }

    .tercera-seccion-contacto {
        display: flex;
        justify-content: center;
    }

    #seccion-izq-con {
        display: none;
    }

    #seccion-der-con {
        width: 90%;
    }
}
/* fin de responsive de 768px - 1440 */